<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Department</title>
</head>
<body>
<h1>Add Department</h1>

<form method="post">
    <label>
        {% csrf_token %}
        <input type="text" name="depart" placeholder="input new department">
    </label>
    <button type="submit" class="btn btn-primary">submit</button>
</form>
<div>
    <a href="/departments/list/">back</a>
</div>
</body>
</html>